<section>
  <nv></nv>

<!-- global search content -->

<div class="home">
  <h3>Recherche Globale</h3>
  <br/>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="...">
  </div>
  <em class="">Recherche ici parmis toute les pièces stockées dans les coffres, le filtrage se fait en temps réel!</em>
</div>

<div class="home">

  <table class="table table-hover">
    <thead class="text-white bg-primary">
      <tr>
        <th>PAYS</th>
        <th>VALEUR</th>
        <th>ANNEE</th>
        <th>METAL</th>
        <th>DESCRIPTION</th>
        <th>CODE</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>..</td>
        <td>..</td>
        <td>..</td>
        <td>..</td>
        <td>..</td>
        <td>..</td>
      </tr>
      <tr>
        <td>..</td>
        <td>..</td>
        <td>..</td>
        <td>..</td>
        <td>..</td>
        <td>..</td>
      </tr>
    </tbody>
  </table>
  
</div>

<!-- end of global search content -->
</section>
