<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="index.html">NUMIS</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor03">
    <ul class="navbar-nav mr-auto">
      <li id="home" contextmenu=""class="nav-item">
        <a class="nav-link" href="#/home">Accueil <span class="sr-only">(current)</span></a>
      </li>
      <li id="france" class="nav-item">
        <a class="nav-link" href="#/france">La France</a>
      </li>
      <li id="world" class="nav-item">
        <a class="nav-link" href="#/world">Le Monde</a>
      </li>
      <li id="silver" class="nav-item">
        <a class="nav-link" href="#/silver">L'Argenterie</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="..."/>
      <a class="btn btn-secondary my-2 my-sm-0" href="#/global">Rechercher</a>
    </form>
  </div>
</nav>
