<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8"/>

  <!-- Styles Sheets-->
  <link rel="stylesheet" type="text/css" href="css/lux.css"/>
  <link rel="stylesheet" type="text/css" href="css/specific.css"/>
  <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.0.2/css/all.css"/>

  <!-- Javascript Extensions -->
  <script type="text/javascript" src="js/bootstrap.min.js"></script>

</head>

<body>

  <!-- navigation bar -->

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="index.html">NUMIS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor03">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="index.html">Accueil <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="category.html">La France</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="category.html">Le Monde</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="category.html">L'Argenterie</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="...">
        <a class="btn btn-secondary my-2 my-sm-0" href="global.html">Rechercher</a>
      </form>
      <i class="fa fa-moon fa-2x"></i>
    </div>
  </nav>

  <!-- end of navigation bar -->

  <!-- global search content -->

  <div class="home">
    <h3>Recherche Globale</h3>
    <br/>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="...">
    </div>
    <em class="">Recherche ici parmis toute les pièces stockées dans les coffres, le filtrage se fait en temps réel!</em>
  </div>

  <div class="home">
    <table class="table table-hover">
      <thead class="text-white bg-primary">
        <tr>
          <th>PAYS</th>
          <th>VALEUR</th>
          <th>ANNEE</th>
          <th>METAL</th>
          <th>DESCRIPTION</th>
          <th>CODE</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>..</td>
          <td>..</td>
          <td>..</td>
          <td>..</td>
          <td>..</td>
          <td>..</td>
        </tr>
        <tr>
          <td>..</td>
          <td>..</td>
          <td>..</td>
          <td>..</td>
          <td>..</td>
          <td>..</td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- end of global search content -->

</body>

</html>
