.navbar {
    width    : 100%;
    position : fixed;
    top      : 0px;
    z-index: 100;
}

.login
{
  width: 30%;
  margin-left: 35%;
  margin-top: 20em;
}

.login a
{
  float       : right;
  margin-left : 1%;
}

.home-box
{
  width        : 31%;
  margin-right : 3%;
  float        : left;
  height       : 41em;
}

.home-box-end
{
  width      : 32%;
  float      : left;
  height     : 41em;
}

.home-box a,
.home-box-end a
{
  float : right;
}

.home
{
  margin-left   : 2%;
  width         : 96%;
  margin-top    : 10em;
  margin-bottom : 3em;
  z-index:      : -1;
}

.group-element
{
  width        : 30%;
  margin-right : 3%;
  float        : left;
}

.group-element select
{
  width : 100%;
}
.input-med
{
  width : 96%;
}
.clear
{
  clear : both;
}

.btn-action a
{
  float        : right;
  margin-right : 1%;
}

.category-part
{
  float : left;
}

.count{
  float : right;
  width : 30%;
}
